


.form-pesquisa{
    height: 400px;
    width: 900px;
}



.div-pesquisa{
    padding: 0;
}



.btnn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100px;
}

.btnn-pesquisa {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100px;
}

.btnn-pesquisa:hover {
    background-color: #0056b3;
}

